h6 {
    font-size: 14px;
}

h1 {
    font-size: 24px;
}

body {
    text-align: center;
    padding: 20px;

}

form {
    padding-top: 32px;
    text-align: center;
    max-width: 300px;
    margin: auto;
}

.corpo{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.imagem_logo{
    width: auto;
    height: auto;
    max-width: 100px;
}

.header, .nave_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header{
    background-color: var(--cor-header--);
    box-shadow: 5px 10px 10px var(--cor-shadow--);
    height: 10%;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 30px;
}



.nave_header{
    gap: 2em;
}

.nave_header a{
    text-decoration: none;
    color: var(--cor-letra--);
    transition: 1.5s;
    font-weight: bold;
    }    

.voltar{
        max-width: 60px;
        width: auto;
        height: auto;
        margin-right: 10000px;   
}

.navegar{
    font-size: 10px;
}